USE [master]
GO
/****** Object:  Database [ESOFTDB]    Script Date: 7/25/2022 10:59:26 PM ******/
CREATE DATABASE [ESOFTDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ESOFTDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ESOFTDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ESOFTDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ESOFTDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ESOFTDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ESOFTDB]
GO
/****** Object:  Table [dbo].[AdminInfo]    Script Date: 7/25/2022 10:59:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminInfo](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](15) NULL,
	[LastName] [varchar](20) NULL,
	[DOB] [date] NULL,
	[Mobile] [varchar](10) NULL,
	[Gender] [varchar](10) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentSignupInfo]    Script Date: 7/25/2022 10:59:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentSignupInfo](
	[StudentID] [varchar](12) NOT NULL,
	[FirstName] [varchar](15) NULL,
	[LastName] [varchar](20) NULL,
	[DOB] [date] NULL,
	[Mobile] [varchar](10) NULL,
	[Gender] [varchar](10) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherSignupInfo]    Script Date: 7/25/2022 10:59:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherSignupInfo](
	[TeacherID] [varchar](12) NOT NULL,
	[FirstName] [varchar](15) NULL,
	[LastName] [varchar](20) NULL,
	[DOB] [date] NULL,
	[Mobile] [varchar](10) NULL,
	[Gender] [varchar](10) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdminInfo] ON 

INSERT [dbo].[AdminInfo] ([AdminID], [FirstName], [LastName], [DOB], [Mobile], [Gender], [Email], [Password]) VALUES (1, N'John', N'Price', CAST(N'1980-03-21' AS Date), N'0712345678', N'Male', N'admin@esoft.com', N'12345')
SET IDENTITY_INSERT [dbo].[AdminInfo] OFF
GO
USE [master]
GO
